/leap-sls-service/target/
/leap-sls-api/target/
/leap-sls-impl/target/
/leap-sls-ccda-adapter/target/
/leap-sls-text-analysis/target/
/leap-sls-v2-adapter/target/
/leap-sls-fhir-adapter/target/


**/.classpath
**/.project
**/*.prefs
**/.factorypath
.vscode/*
.DS_STORE
.idea/**
**/*.iml
**/nb-configuration.xml

